@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #faf8ef;
    color: #776e65;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#game-title {
    font-size: 4em;
    text-align: center;
    font-weight: 800;
}

#size-bar {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
}

#reset-button {
    text-align: center;
    font-weight: 800;
}

#reboot-button {
    text-align: center;
    font-weight: 800;
}

#random-click {
    text-align: center;
    font-weight: 800;
}

.button {
    background: #faf8ef;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #776e65;
    font-size: 2em;
    font-weight: 800;
    padding: 0px 10px;
    text-align: center;
    width: auto;
}

.button:active {
    background: #d8d6cd;
}

#score {
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

#field {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    background: #bbada0;
    margin: 0 auto;
    border-radius: 6px;
}

.c {
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    background: rgba(238, 228, 218, 0.35);
    border: solid 5px #bbada0;
    text-align: center;
    color: rgb(121, 121, 121);
    user-select: none;
}
